:root {
    --md-primary-fg-color:        #265eef;
    --md-primary-fg-color--light: #265eef;
    --md-primary-fg-color--dark:  #265eef;
  }
body {
    background-image: url(https://2023.holidayhackchallenge.com/images/winter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.md-main__inner {
    background-color: rgba(30, 33, 41, 0.99);
}